$button-bg: black;
$button-text: black;
$button-focus: rgb(255, 0, 0);
$button-hover: #2e2e2e;
$button-disabled: #cccccc;
$button-delete: rgb(255, 0, 0);
$button-delete-hover: rgb(204, 0, 0);

$app-bg: white;
$main-font: black;

$lightbox-bg: rgba(39, 39, 39, 0.8);
$lightbox-text: white;

$preview-placeholder: grey;

$notification-bg: white;
$notification-border: black;

$modal-bg: white;
$modal-border: black;

$table-font: black;
$table-bg: white;
$table-hover: lightgrey;
$table-border: black;

$filter-color: black;
