$button-bg: black;
$button-text: black;
$button-focus: rgb(255, 0, 0);
$button-hover: #2e2e2e;
$button-disabled: #cccccc;
$button-delete: rgb(255, 0, 0);
$button-delete-hover: rgb(204, 0, 0);

$app-bg: white;
$main-font: black;

$lightbox-bg: rgba(39, 39, 39, 0.8);
$lightbox-text: white;

$preview-placeholder: grey;

$notification-bg: white;
$notification-border: black;

$modal-bg: white;
$modal-border: black;

$table-font: black;
$table-bg: white;
$table-hover: lightgrey;
$table-border: black;

$filter-color: black;

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: 1.6rem;
}

input,
label {
  display: block;
}
h1 {
  margin: 0;
  font-size: 2.4rem;
}
#titleContainer {
  @media screen and (max-width: 35em) {
    display: none;
  }
}
button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  transition: 0.5s;
}
.button {
  position: relative;
  margin: 1em 0;
  padding: 0.5em 1.5em;
  background-color: $button-bg;
  border: 0.1em solid $button-bg;
  color: white;
  font-weight: 700;
  border-radius: 2em;
  &:focus {
    border: 0.2em solid $button-focus;
  }

  &:hover {
    background-color: $button-hover;
    border-color: $button-hover;
    cursor: pointer;
  }

  &:disabled {
    background-color: $button-disabled;
    border-color: $button-disabled;
    opacity: 0.2;
    cursor: default;
  }
  &.add {
    width: 2em;
    height: 2em;
    border-radius: 2em;
    padding: 0;
    font-size: x-large;
  }
  &.close {
    width: 2em;
    height: 2em;
    border-radius: 2em;
    padding: 0;
    font-weight: 800;
  }
  &.delete {
    background-color: $button-delete;
    border-color: $button-delete;
    &:hover {
      background-color: $button-delete-hover;
      border-color: $button-delete-hover;
    }
  }
}
input {
  border: 0.2em solid black;
  padding: 0.4em;
}

.Gallery {
  @include flexCenter;
  margin-bottom: 5rem;

  & > #thumbnailGrid {
    flex-wrap: wrap;
    @include flexCenter;
    max-width: 120em;
    position: relative;
    z-index: 1;

    & > .thumbnail {
      width: 30rem;
      height: 30rem;
      overflow: hidden;
      margin: 1rem;
      transition: 0.5s;

      &:focus,
      &:hover {
        opacity: 0.9;
        transition: 0.5s;
      }
      & > img {
        cursor: pointer;
        width: 50rem;
        height: auto;
      }
    }
  }
  & > #lightbox {
    @include flexCenter;
    @include overlay;
    z-index: 5;

    & > #content {
      padding: 2rem;
      position: relative;
      z-index: 20;

      & > #lightboxClose {
        justify-content: flex-end;
      }
      & img {
        max-height: 70vh;
        height: auto;
        max-width: 90vw;
      }
      & > div {
        @include flexCenter;
        & > div {
          & p {
            text-align: center;
            color: $lightbox-text;
            font-size: 1.5rem;
          }
          & > div {
            @include flexCenter;
          }
        }
      }
    }
    #background {
      background-color: $lightbox-bg;
      @include overlay;
      z-index: 6;
      cursor: pointer;
    }
  }
}
#headerContainer {
  display: flex;
  align-content: flex-end;
  justify-content: space-between;
  padding: 2rem;
}
#signature,
#admin,
#logout {
  width: auto;
  &:hover {
    cursor: pointer;
  }
}
#signature {
  height: 5rem;
}
#admin,
#logout {
  height: 2.5rem;
  margin: 1rem;
}

.formContainer {
  @include flexCenter;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 35rem;
  max-width: 90vw;

  & > div > form > div {
    padding: 0.2rem 0;
  }
  & > .preview {
    @include flexCenter;
    height: auto;
    & > img {
      background-color: $preview-placeholder;
      max-height: 20rem;
      max-width: 20rem;
    }
  }
}
#loginForm > div {
  @include flexCenter;
}

#imgTable {
  @include flexCenter;
  flex-direction: column;
  table {
    border-collapse: collapse;
    width: 80vw;
  }
  thead {
    font-weight: 800;
    border-bottom: 0.3rem solid $table-border;
    border-top: 0px solid transparent;
  }
  tbody {
    tr {
      transition: 0.5s;
      & > td > img {
        height: 2rem;
        &:hover {
          cursor: pointer;
        }
      }
      &:hover {
        background-color: $table-hover;
      }
    }

    td {
      padding: 0.5rem;

      overflow: hidden;
    }
  }
}

.modalContainer {
  @include overlay;
  & > .modal {
    width: fit-content;
    border: 0.5rem solid $modal-border;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 10vh;
    left: 0;
    right: 0;
    background-color: $modal-bg;

    & > .modalHeader {
      display: flex;
      justify-content: right;
      & > button {
        margin: 1rem;
      }
    }
  }
}

#filter {
  @include flexCenter;
  & > div {
    @include flexCenter;
    width: 120em;
    & > div {
      @include flexCenter;
      & > div > span {
        margin: 0.5rem;
        cursor: pointer;
        user-select: none;
        color: $filter-color;
        font-weight: 600;
      }
    }
  }
}

#notification {
  display: block;
  position: absolute;
  right: 5rem;
  top: 10rem;
  background-color: $notification-bg;
  border: 0.1rem solid $notification-border;
  width: fit-content;
  transition: 0.5s;
  & > div {
    padding: 2rem;
    @include flexCenter;
    & > img {
      margin-left: 0.1rem;
      width: 2rem;
    }
  }
}

.adminContainer {
  @include flexCenter;
  padding: 2rem;
  max-width: 120rem;
}
