input,
label {
  display: block;
}
button {
  margin: 8px 0;
  padding: 4px 20px;
  background-color: black;
  border: 1px solid black;
  color: white;
  font-weight: 700;
  border-radius: 20px;
}
input {
  border: 2px solid black;
  padding: 4px;
}
button:hover {
  background-color: rgb(53, 53, 53);
  border: 1px solid rgb(53, 53, 53);
  cursor: pointer;
}

button:disabled {
  background-color: rgb(122, 122, 122);
  border: 1px solid rgb(122, 122, 122);
  opacity: 0.5;
  cursor: default;
}
.thumbnailGrid {
  max-width: 1200px;
}
.thumbnail {
  width: 300px;
  height: 300px;
  overflow: hidden;
  padding: 10px;
}
.thumbnail > img {
  width: 450px;
  height: auto;
}
#lightbox > div {
  padding: 20px;
}
#lightbox > div > img {
  max-width: 100%;
  height: auto;
}
#lightbox > div > div > div > p {
  color: rgb(255, 255, 255);
  font-size: large;
}
#lightbox > div > div > div > div {
  display: flex;
  justify-content: center;
}
#lightbox > div > div {
  display: flex;
  justify-content: center;
}
#lightbox > div > div {
  display: flex;
  justify-content: center;
}
#lightbox {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(39, 39, 39, 0.8);
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;
}
.Gallery {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
.Gallery > div {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

#headerContainer {
  display: flex;
  align-content: flex-end;
  justify-content: space-between;
  padding: 20px;
}
#headerLogo,
#logoutLogo {
  height: 50px;
  width: auto;
}
#logoutLogo:hover {
  cursor: pointer;
}

#newPostForm {
  padding: 30px;
}

#newPostForm > div > form > div {
  padding: 2px 0;
}

#newPostForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#loginForm > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

#preview {
  width: 200px;
  height: 200px;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#preview > img {
  background-color: grey;
  height: auto;
  width: 200px;
}
