@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin overlay {
  background-color: rgba(39, 39, 39, 0.8);
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;
}
$button: #000000;
$button-hover: #2e2e2e;
$button-disabled: #cccccc;
$button-delete: rgb(255, 0, 0);
$button-delete-hover: rgb(204, 0, 0);

input,
label {
  display: block;
}
button {
  margin: 8px 0;
  padding: 4px 20px;
  background-color: $button;
  border: 1px solid $button;
  color: white;
  font-weight: 700;
  border-radius: 20px;

  &:hover {
    background-color: $button-hover;
    border-color: $button-hover;
    cursor: pointer;
  }

  &:disabled {
    background-color: $button-disabled;
    border-color: $button-disabled;
    opacity: 0.2;
    cursor: default;
  }
  &.add {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    padding: 0;
    font-size: x-large;
  }
  &.close {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    padding: 0;
    font-weight: 800;
  }
  &.delete {
    background-color: $button-delete;
    border-color: $button-delete;
    &:hover {
      background-color: $button-delete-hover;
      border-color: $button-delete-hover;
    }
  }
}
input {
  border: 2px solid black;
  padding: 4px;
}

#lightbox {
  @include flexCenter;
  @include overlay;

  & > div {
    padding: 20px;
    & img {
      max-width: 100%;
      height: auto;
    }
    & > div {
      @include flexCenter;
      & > div {
        & p {
          color: rgb(255, 255, 255);
          font-size: large;
        }
        & > div {
          @include flexCenter;
        }
      }
    }
  }
}
.Gallery {
  @include flexCenter;
  & > div {
    @include flexCenter;
    flex-wrap: wrap;
  }
  & > #thumbnailGrid {
    max-width: 1200px;
  }
  & .thumbnail {
    width: 300px;
    height: 300px;
    overflow: hidden;
    padding: 10px;
    transition: 0.5s;
    &:hover {
      opacity: 0.9;
      transition: 0.5s;
    }
    & > img {
      cursor: pointer;
      width: 450px;
      height: auto;
    }
  }
}
#headerContainer {
  display: flex;
  align-content: flex-end;
  justify-content: space-between;
  padding: 20px;
}
#signature,
#admin,
#logout {
  width: auto;
  &:hover {
    cursor: pointer;
  }
}
#signature {
  height: 50px;
}
#admin {
  height: 25px;
  margin: 10px;
}
#logout {
  height: 25px;
  margin: 10px;
}

#newPostForm {
  @include flexCenter;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px;
  & > div > form > div {
    padding: 2px 0;
  }
  & > #preview {
    @include flexCenter;
    width: 200px;
    height: 200px;
    margin-right: 25px;
    & > img {
      background-color: grey;
      height: auto;
      width: 200px;
    }
  }
}
#loginForm > div {
  @include flexCenter;
}

#imgTable {
  @include flexCenter;
  flex-direction: column;
  table {
    border-collapse: collapse;
    width: 600px;
  }
  thead {
    font-weight: 800;
    border-bottom: 4px solid black;
    border-top: 0px solid black;
  }
  tbody {
    tr {
      transition: 0.5s;
      & > td > img {
        height: 20px;
        &:hover {
          cursor: pointer;
        }
      }
      &:hover {
        background-color: lightgrey;
      }
    }

    td {
      padding: 4px;

      overflow: hidden;
    }
  }
}

.modalContainer {
  @include overlay;
  & > .modal {
    width: fit-content;
    border: 6px solid black;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 10vh;
    left: 0;
    right: 0;
    background-color: white;
    border-radius: 25px;
    padding: 25px 25px 25px 25px;
    & > .modalHeader {
      display: flex;
      justify-content: right;
      & > button {
        margin: 12px;
      }
    }
  }
}
