@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
}
$button: #000000;
$button-hover: #2e2e2e;
$button-disabled: #cccccc;
$button-delete: rgb(255, 0, 0);
$button-delete-hover: rgb(204, 0, 0);

input,
label {
  display: block;
}
button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  transition: 0.5s;
}
#button {
  position: relative;
  margin: 8px 0;
  padding: 4px 20px;
  background-color: $button;
  border: 1px solid $button;
  color: white;
  font-weight: 700;
  border-radius: 20px;
  &:focus {
    border: 2px solid red;
  }

  &:hover {
    background-color: $button-hover;
    border-color: $button-hover;
    cursor: pointer;
  }

  &:disabled {
    background-color: $button-disabled;
    border-color: $button-disabled;
    opacity: 0.2;
    cursor: default;
  }
  &.add {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    padding: 0;
    font-size: x-large;
  }
  &.close {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    padding: 0;
    font-weight: 800;
  }
  &.delete {
    background-color: $button-delete;
    border-color: $button-delete;
    &:hover {
      background-color: $button-delete-hover;
      border-color: $button-delete-hover;
    }
  }
}
input {
  border: 2px solid black;
  padding: 4px;
}

.Gallery {
  @include flexCenter;
  margin-bottom: 50px;

  & > #thumbnailGrid {
    flex-wrap: wrap;
    @include flexCenter;
    max-width: 1200px;
    position: relative;
    z-index: 1;

    & > .thumbnail {
      width: 300px;
      height: 300px;
      overflow: hidden;
      margin: 10px;
      transition: 0.5s;

      &:focus,
      &:hover {
        opacity: 0.9;
        transition: 0.5s;
      }
      & > img {
        cursor: pointer;
        width: 500px;
        height: 100%;
      }
    }
  }
  & > #lightbox {
    @include flexCenter;
    @include overlay;
    z-index: 5;

    & > #content {
      padding: 20px;
      position: relative;
      z-index: 20;

      & > #lightboxClose {
        justify-content: flex-end;
      }
      & img {
        max-width: 100%;
        height: auto;
      }
      & > div {
        @include flexCenter;
        & > div {
          & p {
            text-align: center;
            color: rgb(255, 255, 255);
            font-size: large;
          }
          & > div {
            @include flexCenter;
          }
        }
      }
    }
    #background {
      background-color: rgba(39, 39, 39, 0.8);
      @include overlay;
      z-index: 6;
      cursor: pointer;
    }
  }
}
#headerContainer {
  display: flex;
  align-content: flex-end;
  justify-content: space-between;
  padding: 20px;
}
#signature,
#admin,
#logout {
  width: auto;
  &:hover {
    cursor: pointer;
  }
}
#signature {
  height: 50px;
}
#admin {
  height: 25px;
  margin: 10px;
}
#logout {
  height: 25px;
  margin: 10px;
}

.form {
  @include flexCenter;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 30px;
  & > div > form > div {
    padding: 2px 0;
  }
  & > .preview {
    @include flexCenter;
    width: 400px;
    height: auto;
    & > img {
      background-color: grey;
      height: auto;
      max-width: 400px;
    }
  }
}
#loginForm > div {
  @include flexCenter;
}

#imgTable {
  @include flexCenter;
  flex-direction: column;
  table {
    border-collapse: collapse;
    width: 600px;
  }
  thead {
    font-weight: 800;
    border-bottom: 4px solid black;
    border-top: 0px solid black;
  }
  tbody {
    tr {
      transition: 0.5s;
      & > td > img {
        height: 20px;
        &:hover {
          cursor: pointer;
        }
      }
      &:hover {
        background-color: lightgrey;
      }
    }

    td {
      padding: 4px;

      overflow: hidden;
    }
  }
}

.modalContainer {
  @include overlay;
  & > .modal {
    width: fit-content;
    border: 6px solid black;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 10vh;
    left: 0;
    right: 0;
    background-color: white;
    padding: 25px;
    & > .modalHeader {
      display: flex;
      justify-content: right;
      & > button {
        margin: 12px;
      }
    }
  }
}

#filter {
  @include flexCenter;
  & > div {
    @include flexCenter;
    width: 1200px;
    & > img {
      height: 40px;
      cursor: pointer;
    }
    & > div {
      flex-direction: column;
      align-items: center;
      justify-content: center;

      & > div > span {
        margin: 4px;
        cursor: pointer;
        user-select: none;
        color: gray;
        font-weight: 800;
      }
    }
  }
}

#notification {
  display: block;
  position: absolute;
  right: 50px;
  top: 100px;
  background-color: white;
  border: #000000 1px solid;
  width: fit-content;
  transition: 0.5s;
  & > div {
    padding: 20px;
    @include flexCenter;
    & > img {
      margin-left: 10px;
      width: 20px;
    }
  }
}
